*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'HarmonyOS Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #010326;
    overflow-x: hidden;
}

.logo{
    width: 254px;
    height: 74.12px;
}

h1{
    font-family: 'Hexaframe CF', sans-serif;
    font-weight: heavy;
}

h1>span{
    font-family: 'Hexaframe CF', sans-serif;
    color: #0EEBAA;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 98.5%;
    align-items: center;
    padding: 37px 16px;
    transition: 0.6s;
    z-index: 10000000;
}
header.sticky{
    background: #020534;
    padding: 1rem 16px;
}

header>img, header>nav{
    margin-right: 15px;
}

header>nav>ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding: 24px 40px;
    background-color: #020534;
    border:1px solid #040952;
    border-radius: 10px;
}

header>nav>ul>li{
    padding: 0 10px;
    background-color: none;
    font-size: 16px;
}

header>nav>ul>li>a{
    background-color: none;
    text-decoration: none;
}

header>nav>ul>li>a:hover{
    color: #0EEBAA;
}

main{
    display: flex;
    flex-direction: column;
}

.hero{
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

.hero>h1{
    font-size: 5em;
    text-align: center;
    margin-bottom: 146px;
}

.tag{
    background-color: #00FFC2;
    color: #000232;
    padding: 8px 16px;
    font-weight: Bold;
    border-radius: 40px;
    margin-top: 183px;
    margin-bottom: 21px;
}

.registerBtn{
    padding: 16px 24px;
    background-color: #1D71B8;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.registerBtn1{
    padding: 16px 74.5px;
    background-color: #1D71B8;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

#whoWeAre{
      
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 234px;
    overflow: hidden;
}

#whoWeAre>h1{
    font-size: 3em;
    margin-bottom: 50px;
    z-index: 1000;
    position: relative;
    margin-bottom: 91.85px;
}

#whoWeAre>p{
    font-size: 20px;
    width: 69%;
    text-align: center;
    z-index: 1000;
    position: relative;
    font-weight: 200;
}

#whoWeAre>img{
    z-index: 0;
    scale: 1.25;
    position: absolute;
}

#ourMission{

    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: 135px 111px 0 170px;
}


#ourMission>.text>h1{
   font-size: 48px;
   margin-bottom: 62.85px;
}

#ourMission>.text>p{
    font-size: 18px;
    width: 81%;
    text-align: left;
    font-weight: 200;
    margin-right: 244px;
}

#ourMission>img{
    margin-top: -200px;
    scale: 0.70;
}

#ourTargets{
      
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#ourTargets>h1{
    font-size: 56px; 
    margin-right: 127px;
    z-index: 1000;
}

#ourTargets>.cards>.card{
    width: 469px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 50px;
    background-color: #000232;
    border: 1px solid #02054B;
    border-radius: 10px;
    padding: 16px 24px;
    font-weight: 100;
    z-index: 1000;
}

#ourTargets>.cards>.card:nth-child(2n){
    margin-left: 171px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.card>img{
    height: 32px;
    width: 32px;
    margin-right: 50px;
}

#ourTargets>img{
    z-index: 0;
    position: absolute;
    left: 0px;
    scale: 1.25;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 41px 51px 84px 76px;
}

#ourCriteria{
      
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#ourCriteria>.text{
    font-size: 32px;
    width: 480px;
    overflow: hidden;
    font-weight: 300;
}

#ourCriteria>img{
    margin: 0 180px;
    scale: 1.25;
}



#ourCriteria>.text>p{
    font-size: 18px;
    margin-top: 1rem;
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100vh;  
    padding: 1rem;
    overflow: hidden;
}

.fields>h1{
    font-size: 48px;
    z-index: 1000;
}

.fields>.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    width: 1460px;
    margin-top: 98px;
    gap: 1rem;
}

.fields>.cards>.card{
    display: flex;
    width: 374px;
    height: 128px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 50px;
    background-color: #000232;
    border: 1px solid #02054B;
    border-radius: 10px;
}

.fields>.cards>.card>h2{
    font-weight: 300;
}

#ourSponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
 
    padding: 3rem 0rem;
    overflow: hidden;
}

#ourSponsors>h1{
    font-size: 48px;
    z-index: 1000;
    margin-bottom: 5rem;
}


@keyframes slide {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
    padding: 1rem;
    overflow: hidden;
}

#contact>h1{
    font-size: 48px;
    z-index: 1000;
}

#contact>.method{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    background-color: #000232;
 
    border-radius: 10px;
    padding: 2rem;
    margin-top: 50px;
}

#contact>.method>h3{
    font-size: 32px;
    font-weight: 300;
    margin: 16px 0;
    font-family: 'Hexaframe CF', sans-serif;
}

#contact>.method>h3>span{
    color: #0EEBAA;
    font-family: 'Hexaframe CF', sans-serif;
}

#contact>.method>.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 16px 0;
}

#contact>.method>.info>img{
    width: 40px;
    height: 40px;
}

#contact>.method>.info>a{
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

#contact>.method>.info>a:hover{
    color: #0EEBAA;
    transition: all ease 0.5s;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000000000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: #000232ea; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

.navigationBtn{
    padding: 16px 24px;
    background-color: #1D71B8;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

/* Mobile devices (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        width: 110vw;
    };
    header{
        width: 80%;
        padding-right: 3rem;
    }
    header.sticky{
        background: #020534;
        padding: 37px 16px;
    }
    header>img{
        scale: 1.1;
    }
    .registerBtn{
        display: none;
    }
    header>nav{
        display: none;
    }
    .navigationBtn{
        display: block;
        margin-right: 1rem;
    }
    .hero{
        height: 99vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          
    } 
    .tag{
        width: 11rem;
    }
    #whoWeAre>h1{
        font-size: 56px;
        width: 35rem;
    }
    #whoWeAre>p{
        width: 50rem;
        font-size: 32px;
    }
    #ourMission{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #ourMission>.text{
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        align-items: center;
    }
    #ourMission>.text>p{
        text-align: center;
    }
    #ourMission>.text>h1{
        font-size: 56px;
        width: 35rem;
    }
    #ourMission>.text>p{
        width: 50rem;
        font-size: 32px;
    }
    #ourMission>img{
        display: none;
    }
    #ourTargets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-left: 4rem;
    }
    #ourTargets>h1{
        width: 40rem;
        margin-bottom: 5rem;
    }
    #ourTargets>.cards>.card:nth-child(2n){
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #ourCriteria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10rem;
    }

    #ourCriteria>.text{
        margin-bottom: 5rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #ourCriteria>.text:first-child{
        margin-bottom: 10rem;
    }

    #ourCriteria>.text:last-child{
        margin-top:10rem;
    }
    #ourCriteria>.text>h1{
        width: 50rem;
        margin-bottom: 2rem;
    }
    #ourCriteria>.text>p{
        width: 50rem;
        font-size: 24px;
    }
    .fields{
        padding-left: 5rem;
    }
    .fields>.cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fields>.cards>.card{
        width: 30rem;
    }
    .fields>.cards>.card:nth-child(2n){
        margin-left: 171px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .fields>.cards>.card:nth-child(2n-1){
        margin-right: 171px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .fields>h1{
        font-size: 56px;
    }
    .fields>.cards>.card>h2{
        font-size: 2rem;
    }

    #ourSponsors>h1{
        font-size: 56px;
        margin-bottom: 5rem;
    }
    #contact>h1{
        font-size: 56px;
        margin-bottom: 5rem;
    }
    #contact>.method{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
    }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 110vw;
    };
    header{
        width: 80%;
        padding-right: 3rem;
    }
    header.sticky{
        background: #020534;
        padding: 37px 16px;
    }
    header>img{
        scale: 1.1;
    }
    .registerBtn{
        display: none;
    }
    header>nav{
        display: none;
    }
    .navigationBtn{
        display: block;
        margin-right: 1rem;
    }
    .hero{
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          
    } 
    .tag{
        width: 11rem;
    }
    #whoWeAre{
        height: 150vh;
    }
    #whoWeAre>h1{
        font-size: 56px;
        width: 35rem;
    }
    #whoWeAre>p{
        width: 50rem;
        font-size: 32px;
    }
    #ourMission{
        height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #ourMission>.text{
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        align-items: center;
    }
    #ourMission>.text>p{
        text-align: center;
    }
    #ourMission>.text>h1{
        font-size: 56px;
        width: 35rem;
    }
    #ourMission>.text>p{
        width: 50rem;
        font-size: 32px;
    }
    #ourMission>img{
        display: none;
    }

    #ourTargets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-left: 4rem;
        height: 110vh;
    }
    #ourTargets>h1{
        width: 40rem;
        margin-bottom: 5rem;
    }
    #ourTargets>.cards>.card:nth-child(2n){
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #ourCriteria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10rem;
        height: 200vh;
    }

    #ourCriteria>.text{
        margin-bottom: 5rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #ourCriteria>.text:first-child{
        margin-bottom: 10rem;
    }

    #ourCriteria>.text:last-child{
        margin-top:10rem;
    }
    #ourCriteria>.text>h1{
        width: 50rem;
        margin-bottom: 2rem;
    }
    #ourCriteria>.text>p{
        width: 50rem;
        font-size: 24px;
    }
    .fields{
        padding-left: 5rem;
        height: 200vh;
    }
    .fields>.cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fields>.cards>.card{
        width: 30rem;
    }
    .fields>.cards>.card:nth-child(2n){
        margin-left: 171px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .fields>.cards>.card:nth-child(2n-1){
        margin-right: 171px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .fields>h1{
        font-size: 56px;
        margin-top: 3rem;
    }
    .fields>.cards>.card>h2{
        font-size: 2rem;
    }

    #ourSponsors>h1{
        font-size: 56px;
        margin-bottom: 5rem;
    }
    #contact{
        height: 110vh;
    }
    #contact>h1{
        font-size: 56px;
        margin-bottom: 5rem;
    }
    #contact>.method{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
    }
}
